In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
purchase = pd.read_csv("purchase_behaviour.csv")

In [36]:
transaction = pd.read_csv("transaction_data.csv")

In [37]:
# Top 3 most profitable products
# Key traits of loyal customers (age, marital status, spending habits, etc.)
# Why those customers prefer certain products
# Insights/recommendations for the marketing team

In [38]:
purchase.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [39]:
transaction.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [40]:
purchase.shape

(72637, 3)

In [41]:
transaction.shape

(264836, 8)

In [42]:
# Data cleaning
purchase.duplicated().sum()

0

In [43]:
transaction.duplicated().sum()

1

In [44]:
transaction = transaction.drop_duplicates()

In [45]:
transaction.duplicated().sum()

0

In [46]:
df = transaction.merge(purchase,on='LYLTY_CARD_NBR')

In [47]:
df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget

In [48]:
# Group by product name and sum total sales
product_revenue = df.groupby("PROD_NAME")["TOT_SALES"].sum().reset_index()

In [49]:
# Sort products by total revenue in descending order
top_products = product_revenue.sort_values(by="TOT_SALES", ascending=False).head(3)

In [50]:
print(top_products)

                                   PROD_NAME  TOT_SALES
11          Dorito Corn Chp     Supreme 380g    40352.0
86    Smiths Crnkle Chip  Orgnl Big Bag 380g    36367.6
77  Smiths Crinkle Chips Salt & Vinegar 330g    34804.2

In [51]:
# Group by customer ID (LYLTY_CARD_NBR) and calculate total spending and purchase count
loyal_customers = df.groupby("LYLTY_CARD_NBR").agg(
    total_spent=("TOT_SALES", "sum"),
    total_purchases=("TXN_ID", "count")  # Counting transactions as purchase frequency
).reset_index()

In [52]:
# Sort customers by total spending in descending order to find the most loyal ones
top_loyal_customers = loyal_customers.sort_values(by="total_spent", ascending=False).head(10)

In [53]:
# Display the top 10 most loyal customers
print(top_loyal_customers)

       LYLTY_CARD_NBR  total_spent  total_purchases
59694          226000      1300.00                2
60925          230078       138.60               17
17292           63197       132.80               15
69017          259009       127.20               15
42813          162039       126.80               18
16001           58361       124.80               14
61001          230154       124.40               14
25958           94185       122.80               16
35338          130090       122.65               14
47959          179228       120.80               16

In [54]:
# Merge loyal customers data with the original dataset to get LIFESTAGE and PREMIUM_CUSTOMER details
df_loyal = df[df["LYLTY_CARD_NBR"].isin(top_loyal_customers["LYLTY_CARD_NBR"])]

In [55]:
# Count occurrences of each LIFESTAGE and PREMIUM_CUSTOMER type among loyal customers
lifestage_counts = df_loyal["LIFESTAGE"].value_counts()
premium_counts = df_loyal["PREMIUM_CUSTOMER"].value_counts()

In [56]:
# Display the most common customer characteristics
print("Most Common Lifestages among Loyal Customers:")
print(lifestage_counts)

print("\nMost Common Premium Customer Types among Loyal Customers:")
print(premium_counts)

Most Common Lifestages among Loyal Customers:
LIFESTAGE
OLDER FAMILIES           66
YOUNG FAMILIES           60
OLDER SINGLES/COUPLES    15
Name: count, dtype: int64

Most Common Premium Customer Types among Loyal Customers:
PREMIUM_CUSTOMER
Budget        90
Mainstream    33
Premium       18
Name: count, dtype: int64

In [57]:
# Generate summary findings
summary = f"""
### Summary of Findings

#### 1️⃣ Top 3 Most Profitable Products:
{top_products.to_string(index=False)}

#### 2️⃣ Characteristics of Most Loyal Customers:
- Most common LIFESTAGE among loyal customers: {lifestage_counts.idxmax()} ({lifestage_counts.max()} occurrences)
- Most common PREMIUM_CUSTOMER type among loyal customers: {premium_counts.idxmax()} ({premium_counts.max()} occurrences)

#### 3️⃣ Marketing Insights:
- The most loyal customers belong to the **{lifestage_counts.idxmax()}** life stage and are **{premium_counts.idxmax()}** buyers.
- Since these customers contribute the most revenue, marketing campaigns should focus on **targeting similar customer profiles**.
- Promotions, loyalty programs, and personalized recommendations for the **top 3 profitable products** could further increase sales.
"""

In [59]:
# Save the summary to a text file
with open("summary_report.txt", "w",encoding="utf-8") as file:
    file.write(summary)

# Print the summary
print(summary)

### Summary of Findings

#### 1️⃣ Top 3 Most Profitable Products:
                               PROD_NAME  TOT_SALES
        Dorito Corn Chp     Supreme 380g    40352.0
  Smiths Crnkle Chip  Orgnl Big Bag 380g    36367.6
Smiths Crinkle Chips Salt & Vinegar 330g    34804.2

#### 2️⃣ Characteristics of Most Loyal Customers:
- Most common LIFESTAGE among loyal customers: OLDER FAMILIES (66 occurrences)
- Most common PREMIUM_CUSTOMER type among loyal customers: Budget (90 occurrences)

#### 3️⃣ Marketing Insights:
- The most loyal customers belong to the **OLDER FAMILIES** life stage and are **Budget** buyers.
- Since these customers contribute the most revenue, marketing campaigns should focus on **targeting similar customer profiles**.
- Promotions, loyalty programs, and personalized recommendations for the **top 3 profitable products** could further increase sales.